.tile {
  height: 50px;
  width: 50px;
  @media only screen and (max-width: 600px) {
    height: 30px;
    width: 30px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.tile-ship {
  background-color: rgb(50, 118, 195) !important;
}
